/* 
    Document   : message
    Created on : 22/01/2013, 10:09:17 AM
    Author     : Javier Vilcapaza
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.message_new{
    background: rgba(255, 255, 255, 0.84);
}
.message_read{
    background: rgba(255, 255, 255, 0.50);
}
.message_title{
    font-size: 11px
} 
.message_body{
    font-size: 10px;color: rgb(172, 172, 172);margin-top: -5px;
}
.messege_body_td{
    cursor: pointer;
}
.messege_body_td:hover > .message_title{
    color: #333;
}

.table-message tbody tr td{
   padding: 2px 5px;
}