{% extends 'Just2FrontendBundle::Theme/base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<br><br><br>
<div id="index">
    <div class="image"><img src="/bundles/just2frontend/images/3images_15.gif" width="256" height="339"  /></div>
    <div class="image1"><img src="/bundles/just2frontend/images/3images_17.gif" width="409" height="345" /></div>
    <div class="image2"><img src="/bundles/just2frontend/images/3images_19.gif" width="258" height="341" /></div>
    <div class="limpiar"></div>
</div>

{% endblock %}

