{% extends 'Just2FrontendBundle:Theme:base.html.twig' %}

{% block title %}Password Recovery - {{ parent() }}{% endblock %}

{% block content %}
<div id="reset">
	<form action="{{ path("pass_recovery") }}" id="form1" method="post" {{ form_enctype(form) }}>
    	<!-- Título del formulario -->
    	<div><h1></h1></div>
    
    	<!-- Campo de texto: Nombre -->
    	<div>
			<p>
				<label for="iam">Your user ID : </label>
				{{ form_widget(form.username) }}
			</p>
      		<p>Example: BOB 345</p>
    	</div>
    
    	<!-- Campo de texto: Email -->
    	<div>
       		<p>Enter your ID and Submit</p> 
    	</div>
    
    	<!-- Campo de texto: Sitio Web --><!-- Área de texto: Mensaje --><!-- Botón de enviar -->
    	<div>
      		<button class="enviar" type="submit">Submit </button>
    	</div>
	</form>
</div>
{% endblock %}