{% extends 'Just2FrontendBundle::Theme/base.html.twig' %}

{% block title %}Login - {{ parent() }}{% endblock %}

{% block content %}


<div id="account">
	<form name="login" id="form1" action="{{ path("usuario_login_check") }}" method="post">
		<div><h1></h1></div>
		
		<input type="hidden" id="remember_me" name="_remember_me" value="off" />
		<div>
			<p>
				<label for="iam">Your User ID: </label>
				<input type="text" placeholder="Your User ID.." id="username" name="_username">
			</p>
			<p><a href="#">Forgotten my user ID?</a></p>
		</div>

		<div>
			<p>
				<label for="iam">Password: </label>
				<input type="password" placeholder="Your User Password.." id="password" name="_password">
			</p>
			<p><a href="{{ path('pass_recovery') }}">Forgotten password?</a></p> 
		</div>

		<div>
			<label for="allstates">  Remenber me on this computer</label>
			<input type="checkbox" id="remember_me" name="_remember_me" value="off" />
		</div>

		<div>
			<button class="enviar" type="submit">Log in </button>
		</div>
	</form>		
</div>
{% if error %}
<div class="error_login">{{ error.message | trans}}</div>
{% endif %}
{% endblock %}