{# empty Twig template #}
<html lang="en">

    <head>
    </head>
    <body>
	{# header #}
            <header>
                <div class="navbar">
                    <h1>Just 2</h1>
                </div>
            </header>

            <div class="body">




	{% block message %}{% endblock %}

            </div>
	{# footer #}

                <footer>

                </footer>
           	{# end footer #}
        </body>
    </html>
